.login {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center no-repeat;
  background-size: cover;
}

.login__img--wrapper {
  position: fixed;
  left: 28px;
  width: 150px;
  object-fit: contain;
}

.login__img {
  width: 100%;
}

.login__btn {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #db0000;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.login__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.login__container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: #ffffff;
}

.login__container--title,
.login__container--subtitle {
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.login__container--title {
  font-size: 48px;
}

.login__container--subtitle {
  font-size: 28px;
}
