.movie__img--wrapper {
  margin: 16px 4px;
  overflow: hidden;
}

.movie__img {
  width: 240px;
  max-height: 120px;
  object-fit: cover;
  object-position: top;
  transition: all 450ms ease;
}

.movie:hover .movie__img{
  transform: scale(1.08);
}
